<% include partials/head %>
<script src="/js/formulario.js"></script>
<title>Formulario</title>
</head>

<body>
    <% include partials/navbar %>
    <div class="container-content">
        <main>
            <form action="/add" method="POST">
                <h2 class="text-center">Reserva de Laboratorio</h2>
                <div class="reserva container form-group">
                    <fieldset>
                        <div class="col-sm-6 mx-auto">
                            <textarea class = "form-control" type="text" name="creada_por" style="display: none;"><%= user._id %></textarea>
                            <textarea class = "form-control" type="text" name="responsable" style="display: none;"><%= user._id %></textarea>
                            <label for="description"><b>Descripción: </b></label>
                            <textarea class="form-control" id="description" rows="3" name="descripcion"
                                required></textarea>

                            <label for="lab"><b>Laboratorio: </b></label>
                            <select name="laboratorio" class="form-control">
                                <% for(var i = 0; i < lab.length; i++){ %>
                                    <option value="<%= lab[i]._id %>"> <%= lab[i].nombre %> </option>
                                <% } %>
                            </select>

                            <label for="fecha_i"><b>Fecha inicio: </b></label>
                            <input class="form-control" type="date" name="fecha_inicio" required
                                value= "<%= fecha_i %>">

                            <label for="hora_inicio"><b>Hora inicio: </b></label>
                            <input class="form-control" type="time" name="hora_inicio" min="1" required>

                            <label for="hora_fin"><b>Hora fin: </b></label>
                            <input class="form-control" type="time" name="hora_fin" min="1" required>


                            <label for="fecha_f"><b>Fecha fin: </b></label>
                            <input class="form-control" type="date" name="fecha_fin" required
                            value= "<%= fecha_e %>">

                            <label for="tipo_de_reserva"><b>Tipo: </b></label>
                            <select name="tipo" id="type_reserva_choose" class="form-control">
                                <option>Interna</option>
                                <option>Externa</option>
                            </select>

                            <label for="software"><b>Software requerido: </b></label>
                            <input class="form-control" type="text" name="software" required>

                            <label for="numero_personas"><b>Numero de personas: </b></label>
                            <input class="form-control" type="number" min="1" name="numero_personas" required>

                            <div >
                                <input type="checkbox" id="rep_switch">
                                <label for="late_switch">Repeticion: </label>
                            </div>
                            <div class="form-group" id="rep_F">
                                <label for="type_repetition_reserva"><b>Tipo: </b></label>
                                <select name="tipo_rep" id="type_repetition_choose" class="form-control">
                                    <option>Diaria</option>
                                    <option>Semanal</option>
                                </select>

                                <label for="dia"><b>Día: </b></label>
                                <select name="dia" id="day_reserva_choose" class="form-control">
                                    <option value="1">Lunes</option>
                                    <option value="2">Martes</option>
                                    <option value="3">Miércoles</option>
                                    <option value="4">Jueves</option>
                                    <option value="5">Viernes</option>
                                    <option value="6">Sábado</option>
                                    <option value="0">Domingo</option>
                                </select>

                                <label for="date_ultimate"><b>Fecha Tope Repetición: </b></label>
                                <input type="date" class="form-control" name="fecha_tope">
                            </div>
                            <br>
                            <button class="btn btn-outline-success" type="submit">Guardar</button>
                        </div>
                    </fieldset>
                </div>
            </form>
        </main>
    </div>
</body>
<script src="/js/inicio.js"></script>
</html>