<% include partials/head %>

<title>Perfil</title>
<link rel="stylesheet" href="/css/style2.css" type="text/css">
</head>
<body>
        <div class="container">
          <header class="text-center">
            <h1>Profile Page</h1>
            <a href="/formulario" class="btn btn-light btn-sm">
              Formulario
            </a>
          </header>
          <hr>
          <div class="container">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title"><span class="fa fa-user"></span> Local</h3>
                  <p>
                    <strong>id</strong> : <%= user._id %> <br>
                    <strong>nombre</strong> : <%= user.nombre %> <br>
                    <strong>rol</strong> : <%= user.rol %> <br>
                    <label for="change_rol" class="only-admin"><b>Rol a cambiar:</b></label>
                    <select name="change_rol" id="change_rol_choose" class="form-control only-admin">
                      <option>Estudiante</option>
                      <option>Invitado</option>
                      <option>Profesor</option>
                      <option>Mantenimiento</option>
                      <option>Ordenanza</option>
                      <option>Responsable</option>
                  </select>
                    <button class="only-admin btn btn-warning">Cambiar rol</button>
                    <strong>usuario</strong> : <%= user.username %> <br>
                    <strong>password</strong> : <%= user.password %>
                  </p>
                  <a href="/logout" class="btn btn-light btn-sm">
                    Logout
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>